.container{
    width:100%;
}

.search__container{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
}



  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .search__container{
        width: 100%;
        display: block !important;
    }
    .search__container div, .search__container div div, .search__container div button{
        width:100%;
    }
  }